* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Brush Script MT", cursive;
    overflow: hidden;
    background-image: url('photos/essaie.png.png') !important; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

:root {
    --primary: #ff357a;
    --second: #fff172;
    --accent: blue;
}

.vanilla {
    font-size: 8rem;
    margin: 25%;
    width: 50rem;
    height: 10rem;
    font-weight: bold;
    text-transform: uppercase;
    background-image: linear-gradient(
        45deg,
        var(--primary),
        var(--second),
        var(--accent),
        var(--primary)
    );
    background-size: 300% 300%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientAnimation 5s ease infinite;
    position: relative;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 25%;
    }
    25% {
        background-position: 25% 50%;
    }
    50% {
        background-position: 50% 80%;
    }
    100% {
        background-position: 80% 0%;
    }
}

.letter-i {
    position: relative;
    display: inline-block;
    z-index: 1;
}

body {
    position: relative;
}

#papillons {
    background: none !important;
    width: 20rem;
    position: absolute;
    top: 90%;
    left: -10rem;
    z-index: 10;
    animation: fly 7s ease-in-out forwards;
}

@keyframes fly {
    0% {
        transform: translate(0, 0);
    }
    15% {
        transform: translate(5rem, -5rem);
    }
    30% {
        transform: translate(20rem, -15rem) rotate(45deg);
    }
    45% {
        transform: translate(25rem, -25rem) rotate(30deg);
    }
    60% {
        transform: translate(35rem, -12rem) rotate(60deg);
    }
    75% {
        transform: translate(30rem, -30rem) rotate(20deg);
    }
    90% {
        transform: translate(38rem, -24rem) rotate(90deg);
    }
    100% {
        transform: translate(43rem, -30rem);
    }
}

.loading {
    height: 100px;
    width: 100px;
    border: 12px solid black;
    border-radius: 50%;
    border-right-color: aqua;
    animation: loading 2s linear infinite;  
    display: block; 
    background: none !important;
    margin: 2rem auto;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


